In [2]:
import pandas as pd
import numpy as np 
import os

In [3]:
#Set directory
os.chdir("C:/Users/Tim/Documents/GitHub/Master-Thesis")
#File bp
path_raw = "Baublatt Info/2006_01_KOF_9943D2K.csv"

# manipulate path for bp
path = os.path.normpath(path_raw)
path_bp = os.path.join(os.getcwd(), path)

In [4]:
# read all the data
data = pd.read_csv(path_bp,sep=';', na_filter=False, encoding='latin-1')
data.head(3)

,ObjektNr,BHNr,BHAnr,BHBriefAnr,BHName,BHVorname,BHBranche,BHStrasse,BHPostfach,BHPlz,...,TxtZeile11,TxtZeile12,TxtZeile13,TxtZeile14,TxtZeile15,TxtZeile16,TxtZeile17,TxtZeile18,TxtZeile19,TxtZeile20
0,99836388,2406750,Firma,Sehr geehrte Damen und Herren,Möbel Pfister AG,,c/o Arco Immob.-Management AG,Tramstrasse 7,,5034,...,,,,,,,,,,
1,99836392,2406750,Firma,Sehr geehrte Damen und Herren,Möbel Pfister AG,,c/o Arco Immob.-Management AG,Tramstrasse 7,,5034,...,,,,,,,,,,
2,99837290,2279669,Firma,Sehr geehrte Damen und Herren,Ammann & Co AG,,,Muhenstrasse 11,,5036,...,,,,,,,,,,

In [5]:
data.values.shape

(7638, 175)